# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js
/Products-inventory/backend/package.json
/Products-inventory/backend/node_modules
/Products-inventory/backend/.env
/SRS_and_others
